@font-face {
  font-family: 'Brushter';
  src: url('/assets/font/brushter/Brushter.otf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/font/proxiNova/ProximaNova-Regular.ttf') format('truetype');
}

* {
  padding: 0px;
  margin: 0px;
}

.root {
  box-sizing: border-box;
  font-family: 'ProximaNova', sans-serif;
}

.flex {
  display: flex;
}

.strategies-wrapper {
  position: relative;
 }

.left-strategies-box {
  background-color: rgb(255, 78, 83);
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.right-strategies-box {
  background-image: url('assets/unverified.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 220px;
}

.strategies-container {
  position: absolute;
  inset: 0px;
  display: flex;
  width: max-content;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0px auto;
}

.strategies-font {
  font-size: 94px;
  line-height: 101px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px;
  padding: 0px;
}

.eleminated-font {
  font-family: 'Brushter', sans-serif;
  font-size: 93px;
  line-height: 160px;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}


.strategies-sub-font {
  font-size: 16px;
  line-height: 26px;
  max-width: 422px;
  color: #FFFFFF;
  margin: 75px 0px 64px 38px;
}

.strategies-list {
  flex-direction: column;
  gap: 32px;
  max-width: 422px;
  margin: 0px 0px 72px 38px
}

.strategies-list-font {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.strategies-list-item {
  gap: 20px
}

.strategies-list-icon-wrapper {
  min-width: 24px;
  height: 24px;
}

/* -------------------------------------------------royalties section ---------------------------------- */

.royalties-wrapper {
  position: relative;
}

.royalties-wrapper::before {
  content: "";
  display: block;
  background-image: url(assets/royaliteSVG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 103px;
  margin-top: 203px;
}

.royalties-background {
  background-color:#FFF6F6;
  justify-content: center;
}

.royalties-container {
  min-width:895px;
}

.royalties-content-wrapper {
  max-width: 330px;
  margin-bottom: 104px;
  flex-direction: column;
  gap:24px;
}

.royalties-heading {
  font-size: 42px;
  line-height: 46px;
}

.royalties-description {
  font-size: 14px;
  line-height: 23px;
}

.royalties-image-wrapper {
  max-width:55%;
  position: absolute;
  right: 0;
  top:-75px;
}

.royalties-image {
  object-fit: cover;
}

@media screen  and (min-width:1200px){
  .royalties-image-wrapper {
    width: 716px;
    height:472px;
  }

  .royalties-background {
    height: 300px;
    padding: 40px;
  }
}

@media only screen and (max-width:992px) {

  .strategies-font,
  .eleminated-font {
    font-size: 56px;
    line-height: 60px;
  }

  .strategies-sub-font {
    font-size: 8px;
    line-height: 14px;
    max-width: 213px;
    margin: 42px 0px 38px 26px;
  }

  .strategies-list {
    max-width: 213px;
    gap: 12px;
    margin: 0px 0px 42px 26px;
  }

  .strategies-list-font {
    font-size: 8px;
    line-height: 14px;
  }

  .strategies-list-item {
    gap: 8px
  }

  .strategies-list-icon-wrapper {
    min-width: 12px;
    height: 12px;
  }

  .royalties-wrapper::before {
    height: 63px;
    margin-top: 122px;
  }

  .royalties-container {
    min-width:536px;
  }

  .royalties-content-wrapper {
    max-width: 198px;
    gap: 14px;
    margin-bottom: 60px;
  }

  .royalties-heading {
    font-size: 25px;
    line-height: 28px;
  }

  .royalties-description{
    font-size: 8px;
    line-height: 14px;
  }
}


@media only screen and (max-width:600px) {

  .strategies-wrapper{
    min-height: 480px;
  }
  .strategies-font,
  .eleminated-font {
    font-size: 32px;
    line-height: 35px;
  }

  .strategies-container {
    justify-content:flex-start;
    padding-top: 22px;
    z-index: 1;
  }

  .right-strategies-box {
    position: relative;
  }

  .strategies-sub-font {
    max-width: 295px;
    font-size: 11px;
    line-height: 18px;
    position: absolute;
    top:35%;
    left:-95%;
  }

  .strategies-list {
    max-width: 295px;
    position: absolute;
    top:70%;
    left:-95%;
  }

  .strategies-list-item {
    gap: 15px
  }

  .royalties-wrapper::before {
    content: none;
  }

  .royalties-background {
  background-color:#FFF6F6;
  justify-content: unset;
  padding: 30px;
  }

  .royalties-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:25px;
  }

  .royalties-content-wrapper {
    margin-bottom: 0%;
    min-width:226px;
  }

  .royalties-image-wrapper {
    position: static;
  }

  .royalties-heading {
    font-size: 28px;
    line-height: 29px;
  }

  .royalties-description {
    font-size: 10px;
    line-height: 16px;
  }

  .royalties-image-wrapper {
    max-width: 302px;
    height: 185px;
  }



}
