@font-face {
  font-family: 'Brushter';
  src: url('/assets/font/brushter/Brushter.otf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/font/proxiNova/ProximaNova-Regular.ttf') format('truetype');
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'ProximaNova', sans-serif;
}

.flex {
  display: flex;
}

.btn {
  width: 174.12px;
  height: 47.37px;
  font-size: 13.3427px;
line-height: 15px;
}

.sub-heading {
  padding: 10px;
  background: linear-gradient(90.07deg, rgba(255, 255, 255, 0.1) 0.89%, rgba(255, 255, 255, 0) 99.85%);
  font-size: 14.0128px;
  line-height: 22px;
}

.heading-font {
  font-size: 42.0294px;
  line-height: 47px;
}

.description-font {
  font-size: 14.6769px;
  line-height: 23px;
}

.font-color-white {
  color: white;
}

.font-color-black {
  color: black;
}

.strategies-wrapper {
  position: relative;
 }

.left-strategies-box {
  background-color: rgb(255, 78, 83);
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.right-strategies-box {
  background-image: url('assets/unverified.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 220px;
}

.strategies-container {
  position: absolute;
  inset: 0px;
  display: flex;
  width: max-content;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0px auto;
}

.strategies-font {
  font-size: 94px;
  line-height: 101px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px;
  padding: 0px;
}

.eleminated-font {
  font-family: 'Brushter', sans-serif;
  font-size: 93px;
  line-height: 160px;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}


.strategies-sub-font {
  font-size: 16px;
  line-height: 26px;
  max-width: 422px;
  color: #FFFFFF;
  margin: 75px 0px 64px 38px;
}

.strategies-list {
  flex-direction: column;
  gap: 32px;
  max-width: 422px;
  margin: 0px 0px 72px 38px
}

.strategies-list-font {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.strategies-list-item {
  gap: 20px
}

.strategies-list-icon-wrapper {
  min-width: 24px;
  height: 24px;
}

/* -------------------------------------------------royalties section ---------------------------------- */

.royalties-wrapper {
  position: relative;
}

.royalties-wrapper::before {
  content: "";
  display: block;
  background-image: url(assets/royaliteSVG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 103px;
  margin-top: 203px;
}

.royalties-background {
  background-color:#FFF6F6;
  justify-content: center;
}

.royalties-container {
  min-width:895px;
}

.royalties-content-wrapper {
  max-width: 330px;
  margin-bottom: 104px;
  flex-direction: column;
  gap:24px;
}

.royalties-heading {
  font-size: 42px;
  line-height: 46px;
}

.royalties-description {
  font-size: 14px;
  line-height: 23px;
}

.royalties-image-wrapper {
  max-width:55%;
  position: absolute;
  right: 0;
  top:-75px;
}

.royalties-image {
  object-fit: cover;
}

/* ------------------------------------creators-section--------------------- */

.creators-wrapper {
    background-color:  #FFF6F6;
    background: linear-gradient(0deg, rgba(255,213,213,1) 0%, rgba(255,246,246,1) 11%);
    height: 820px;

}

.creators-background {
  background-color: #FF4E53;
  justify-content: center;
}

.creators-container {
  max-width: 895px;
  padding-top: 80px;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.creators-wrapper::after {
  content: "";
  background-image: url(assets/creatorsWave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: block;
  height: 13%;
  margin-top: -2px;
}

.creators-sub-heading-font {
  max-width: 420px;
  padding: 10px;
  background: linear-gradient(90.07deg, rgba(255, 255, 255, 0.1) 0.89%, rgba(255, 255, 255, 0) 99.85%);
  font-size: 14.0128px;
  line-height: 22px;
  color: #FFFFFF;
}

.creators-heading-font {
  font-size: 42.0294px;
  line-height: 47px;
  color: #FFFFFF;
}

.creators-description-font {
  font-size: 14.6769px;
  line-height: 23px;
  color: #FFFFFF;
}


.creators-matrix-wrapper {
  gap: 14px;
  align-items: center;
  margin-bottom: 6%;
}

.matrix-img-wrapper {
  width: 40px;
  height: 40px;
}

.creators-socialImg-wrapper{
  position: absolute;
  gap:96px;
  top: 97%;
}

.creators-profile-wrapper {
  width: 338px;
  height: 228px;
  position: relative;
}

.creators-profile-wrapper::before {
  content: "";
  border-bottom: 1px dashed #FFFFFF;
  display: block;
  width: 40%;
  height: 18%;
  position: absolute;
  right: -30%;

}

.creators-profile-wrapper::after {
  content: "";
  background-image: url(assets/creatorsVector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 40%;
  height: 30%;
  position: absolute;
  right: -30%;
  top: 55%;
}
.creators-store-wrapper{
  width: 430px;
  height: 261px;
  z-index: 1;
}


/* ------------------------------------------courses-section----------------------------------- */

.courses-wrapper {
  background-color:  #d4a8a8;
  background: linear-gradient(0deg, rgba(255,213,213,1) 0%, rgba(255,246,246,1) 11%);
  height: 640px;
  position: relative;
  justify-content: center;
}

.courses-wrapper::before {
  content: "";
  display: block;
  background: url(assets/coursesbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50px;
  width: 35px;
  height: 90px;
}

.courses-container {
  width: 895px;
  align-items: center;
  justify-content: space-between;
}

.courses-sub-heading{
  background: linear-gradient(90.07deg, rgb(255 255 255) 45.89%, rgba(255, 255, 255, 0) 99.85%);
  max-width:122px;
}

.courses-text-wrapper {
  max-width: 380px;
  height: 318px;
  flex-direction: column;
  gap: 5%;
}

.courses-image {
  position: relative;
  z-index: 1;
}
.courses-image-wrapper {
  width:280px ;
  height:328px ;
  position: relative;
  z-index: 1;
}

.courses-image-wrapper::before {
  content: "";
  display: block;
  width: 30%;
  height: 26%;
  background-image: url(assets/coursesVector.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -16%;
}

.courses-image-vector{
  max-width: 36%;
  height: 24%;
  position: absolute;
  bottom: -6%;
  left: -16%;
  z-index: 2;
}

.courses-profile-image {
  width: 75%;
  height: 50%;
  position: absolute;
  bottom: -30%;
  right: -24%;
  z-index: 2;
}

.courses-profilepicBox {
  background-color: #FE4F52;
  width: 82%;
  height: 15%;
  border-radius: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -25%;
  top: -8%;
  z-index: 2;
}

.courses-profilepic-wrapper{
    width: 14%;
    height: 60%;
}

.courses-profilepic-text{
  color: #FFFFFF;
  font-size: 10px;
  line-height: 16px;
  max-width:70%;
}

/* --------------------------------------Apply section---------------------------------------------- */
.apply-wrapper {
  background-color: #FFF6F6;
  position: relative;
  justify-content: center;
}

.apply-wrapper::after {
  content: "";
  display: block;
  background-image: url(assets/applyWave.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: -52px;
  z-index: -1;
}

.apply-side-vector {
  position: absolute;
  left: -6px;
  top: 20px;
  width: 35px;
  height: 90px;
}

.apply-container {
  width: 895px;
  height: 100%;
  padding: 52px 0px;
  justify-content: space-between;
  align-items: flex-end;
}

.apply-image-wrapper {
  width: 235px;
  height: 235px;
}

.apply-text-wrapper {
  width: 68%;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  gap: 4px;

}

.apply-sub-heading {
  font-weight: 600;
  font-size: 33.3567px;
  line-height: 33px;
}

.apply-heading {
  font-weight: 400;
  font-size: 43.3637px;
  line-height: 48px;
  color: #F06156;
}

.apply-btn-wrapper {
  padding-top: 8%;
}

.apply-creator-btn {
  border: none;
  color: #FFFFFF;
  background: linear-gradient(89.82deg, #FE4F53 1.3%, #F47E44 99.47%);
  border-radius: 33.3567px;
}

.apply-contact-btn {
  border: 1px solid #F06156;
  color: #F06156;
  background-color: #FFF6F6;
  border-radius: 33.3567px;
}


/* -----------------------------------------campaign section------------------------------------- */

.campaign-wrapper {
  height: 630px;
  justify-content: center;
  position: relative;
}

.campaign-cantainer {
  width: 895px;
  justify-content: space-between;
  align-items: center;
}

.campaign-text-wrapper {
  width: 40%;
  flex-direction: column;
  gap:10px;
}

.campaign-imgBox-wrapper{
  width: 45%;
  height: 446px;
  gap: 4%;
}

.campaign-doubleimg-wrapper {
  width: 48%;
  height: 100%;
  flex-direction: column;
  gap: 4%;
}

.campaign-singleimg-wrapper {
  width: 48%;
  height: 100%;
  align-items: center;
  position: relative;
}

.campaign-dotVector-wrapper {
  max-width: 45%;
  height: 16%;
  position: absolute;
  top: 71%;
  right: -14%;
  z-index: -1;
}

.campaign-top-info-wrapper {
  width: 45%;
  height: max-content;
  padding: 25px 20px 24px;
  background: linear-gradient(90deg, #F06156 0%, rgba(240, 97, 86, 0.4) 98.89%);
  position: absolute;
  right: 0;
  top: 78%;

}

.campaign-top-info-text{
  max-width: 419.63px;
  height: 44.6px;
  font-size: 18px;
    line-height: 20px;
  color: #FFFFFF;
}


@media screen  and (min-width:1200px){
  .royalties-image-wrapper {
    width: 716px;
    height:472px;
  }

  .royalties-background {
    height: 300px;
    padding: 40px;
  }
}

@media only screen and (max-width:992px) {

  .sub-heading {
    font-size: 8px;
    line-height: 12px;
  }

  .heading-font {
    font-size: 25px;
    line-height: 28px;
  }

  .description-font {
    font-size: 8px;
    line-height: 14px;
  }

  .strategies-font,
  .eleminated-font {
    font-size: 56px;
    line-height: 60px;
  }

  .strategies-sub-font {
    font-size: 8px;
    line-height: 14px;
    max-width: 213px;
    margin: 42px 0px 38px 26px;
  }

  .strategies-list {
    max-width: 213px;
    gap: 12px;
    margin: 0px 0px 42px 26px;
  }

  .strategies-list-font {
    font-size: 8px;
    line-height: 14px;
  }

  .strategies-list-item {
    gap: 8px
  }

  .strategies-list-icon-wrapper {
    min-width: 12px;
    height: 12px;
  }

  .royalties-wrapper::before {
    height: 63px;
    margin-top: 122px;
  }

  .royalties-container {
    min-width:536px;
  }

  .royalties-content-wrapper {
    max-width: 198px;
    gap: 14px;
    margin-bottom: 60px;
  }

  .royalties-heading {
    font-size: 25px;
    line-height: 28px;
  }

  .royalties-description{
    font-size: 8px;
    line-height: 14px;
  }

  .creators-wrapper {
    height: 490px;
  }
  .creators-container{
    max-width: 520px;
    padding: 52px 52px 0px;
    gap: 18px;
  }

  .creators-sub-heading-font {
   font-size: 8px;
   line-height: 12px;
   max-width: 176px;
  }

  .creators-heading-font {
    font-size: 25px;
    line-height: 28px;
  }

  .creators-description-font {
   font-size: 8px;
   line-height: 14px;
  }

  .matrix-img-wrapper {
    width: 24px;
    height: 24px;
  }

  .creators-socialImg-wrapper{
    gap:57px;
  }
  .creators-profile-wrapper {
    width: 228px;
    height: 144px;
  }

  .creators-store-wrapper{
    width: 258px;
    height: 156px;
  }

  .courses-wrapper {
    height: 380px;
  }

  .courses-container {
    max-width: 520px;
  }

  .courses-text-wrapper{
    max-width: 290px;
    height: 190px;
  }

  .courses-image-wrapper {
    width:168px ;
    height:198px ;
  }

  .courses-profilepic-text {
    font-size: 6px;
    line-height: 9px;
  }

  .apply-container{
    max-width: 520px;
    padding: 52px 52px 0px;
  }

  .apply-image-wrapper {
    width: 142px;
    height: 142px;
  }

  .apply-sub-heading {
    font-size: 20px;
    line-height: 20px;
  }

  .apply-heading {
    font-size: 26px;
    line-height: 30px;
  }

  .btn{
    width: 104.48px;
    height: 28.42px;
    font-size: 8.00632px;
   line-height: 9px;
  }

  .campaign-wrapper {
   height: 440px;
 }

 .campaign-cantainer {
   max-width: 520px;
 }

 .campaign-imgBox-wrapper {
   height: 268px;
 }

 .campaign-top-info-wrapper{
  padding: 20px 20px 10px;
  top: 75%;
 }

 .campaign-top-info-text {
  font-size: 13px;
  line-height: 15px;
 }

}


@media only screen and (max-width:600px) {

  .sub-heading {
    font-size: 9px;
    line-height: 15px;
  }

  .heading-font {
    font-size: 28px;
    line-height: 28px;
  }

  .description-font {
    font-size: 10px;
    line-height: 16px;
  }

  .strategies-wrapper{
    min-height: 480px;
  }
  .strategies-font,
  .eleminated-font {
    font-size: 32px;
    line-height: 35px;
  }

  .strategies-container {
    justify-content:flex-start;
    padding-top: 22px;
    z-index: 1;
  }

  .right-strategies-box {
    position: relative;
  }

  .strategies-sub-font {
    max-width: 295px;
    font-size: 11px;
    line-height: 18px;
    position: absolute;
    top:35%;
    left:-95%;
  }

  .strategies-list {
    max-width: 295px;
    position: absolute;
    top:70%;
    left:-95%;
  }

  .strategies-list-item {
    gap: 15px
  }

  .royalties-wrapper::before {
    content: none;
  }

  .royalties-background {
  background-color:#FFF6F6;
  justify-content: unset;
  padding: 30px;
  }

  .royalties-container {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap:25px;
  }

  .royalties-content-wrapper {
    margin-bottom: 0%;
    min-width:226px;
  }

  .royalties-image-wrapper {
    position: static;
  }

  .royalties-heading {
    font-size: 28px;
    line-height: 29px;
  }

  .royalties-description {
    font-size: 10px;
    line-height: 16px;
  }

  .royalties-image-wrapper {
    max-width: 302px;
    height: 185px;
  }

  .creators-wrapper {
   background:#FFF6F6;
   height: 664px;

  }

  .creators-container {
    padding: 31px 33px 0px;
  }

  .creators-socialImg-wrapper {
    flex-direction: column;
    gap:22px;
    width: 90%;
    align-items: center;
  }

  .creators-profile-wrapper {
    width: 240px;
    height: 152px;
  }

  .creators-profile-wrapper::before {
    content:none;
  }

  .creators-profile-wrapper::after {
    content: none;
  }

  .creators-store-wrapper{
    width: 270px;
    height: 163px;

  }

  .creators-store-wrapper::before {
    content: "";
    border-left-style: dashed;
    border-right-style: dashed;
    border-color: #FF4E53;
    border-width: 1px;
    display: block;
    width: 125px;
    height: 13%;
    position: absolute;
    z-index: -1;
    right: 33%;
    top: 40%;
  }

  .courses-wrapper {
    background:#FFF6F6;
    height: 580px;
   }

  .courses-wrapper::before{
   content: none;
  }

  .courses-container {
    max-height:450px;
    flex-direction: column;
    gap:68px;

  }

  .courses-text-wrapper {
    max-width: none;
    padding: 31px 33px 0px;
  }

  .courses-image-wrapper{
    width:192px ;
    height:226px ;
  }

  .apply-side-vector {
    display: none;
  }
  .apply-text-wrapper {
  width: 100%;
  }

  .apply-wrapper::after {
    background-size: contain;
    bottom: -100px;
  }

  .apply-container {
    flex-direction: column;
    align-items: center;
    gap:36px;
    padding: 0px 33px 20px;
  }

  .apply-image-wrapper {
    width: 168px;
    height: 168px;
  }


  .apply-sub-heading {
    font-size: 22px;
    line-height: 23px;
  }

  .apply-heading {
    font-size: 29px;
    line-height: 30px;
  }

  .btn{
    width: 120px;
    height: 32px;
    font-size: 9px;
   line-height: 9px;
  }

  .campaign-wrapper {
    height: 720px;
  }

  .campaign-cantainer {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    gap:40px;
    padding: 44px 33px 0px;
  }

  .campaign-text-wrapper{
    width: 100%;
  }

  .campaign-imgBox-wrapper {
    width: 80%;
    height: 306px;
  }

  .campaign-top-info-wrapper {
   width: 80%;
  }

}
